antlr4-python3-runtime==4.8
configen-tests==1.0.0
future==0.18.2
hydra-configen==0.9.0.dev5
hydra-core @ git+https://github.com/facebookresearch/hydra@d6d066d2412af24ce4b459c4f93e9b46387a8713
importlib-resources==4.0.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
omegaconf==2.1.0.dev14
PyYAML==5.3.1
torch==1.6.0
typing-extensions==3.7.4.3
